{% extends "layout.html" %}
{% block blog_body %}
  {% if session.logged_in %}
		<form action="{{ url_for('add_entry') }}" method=post class=add-entry> <!-- class definition in CSS -->
			<table width="100%" border="0">
			<tr>
				<td align="right">Title</td>
				<td><input type=text size=30 name=title></td>
			</tr>
			<tr>
				<td align="right">Text</td>
				<td><textarea name=blog_text rows=5 cols=40></textarea></td>
			</tr>
					<td><input type=submit value=Share></td>
			<tr>
			</tr>
		</table>
	</form>
  {% endif %}
	<table border="0" width="100%" class-entries>
			<tr>
				<th width=30%>Title</th>
				<th>Text</th>
			</tr>
		{% for entry in entries %}
			<tr>
<!--				<td><a href="http://www.google.com">{{ entry.id }}</a></td> -->
<!--				<td><a href="http://www.yahoo.com">{{ entry.title }}</a></td> -->
				<td><a href="{{ url_for('on_title_click') }}">{{ entry.title }}</a></td>
				<td>{{ entry.entry_text }}</td>
			</tr>
		{% else %}
			<li><em>Unbelievable.  No entries here so far</em>
		{% endfor %}
	</table>
	
{% endblock %}
